<div class="col-md-12" ng-controller="AddPaymentInventory">
<div>
    <ul class="breadcrumb">
            <li><a href="#/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a></li>
            <li class="active">{{'label.anchor.addpaymentInventory' | translate}}</li>
    </ul>
</div>



<form name="addpaymentinvnetory" novalidate="" class="form-horizontal well" rc-submit="submit()">
    <api-validate></api-validate>
    <fieldset>
        <table class="table table-striped .width100">
            <colgroup span="4"></colgroup>
            <thead>
              <tr>

                <th scope="col">Type</th>

              </tr>

            <tr>

                <th colspan="2" scope="colgroup"></th>
                  <th ng-show="formData.pdcTypeId == '1'"scope="col">Is Series</th>
                <th ng-show="formData.pdcTypeId == '1'" colspan="2" scope="colgroup"><input id="isSeriesCheques" class="input-mini-small" type="checkbox"
                       ng-model="formData.isSeriesCheques" ng-change="changeData(formData.isSeriesCheques)"/></th>
                <th colspan="2" scope="colgroup"></th>
            </tr>

            <tr>
                <th scope="col">#</th>
                <th scope="col">{{'Cheque Date' | translate}}</th>

                <th scope="col">{{'Cheque No' | translate}}</th>
                <th scope="col">{{'Name of Bank' | translate}}</th>
                <th scope="col">{{'Branch Name' | translate}}</th>
                <th scope="col">{{'Ifsc Code' | translate}}</th>
                <th scope="col">{{'MICR Code' | translate}}</th>
                <th scope="col">{{'Amount' | translate}}</th>
            </tr>
            </thead>
            <tbody>
              <tr>


                          <select id="pdcTypeId" name="type" ng-model="formData.pdcTypeId" ng-options="pdcType.id as pdcType.name for pdcType in pdcTypes" value="{{pdc.id}}"
                              ng-change="changePdcData(formData.pdcTypeId)">

                                </select>

              </tr>
              <tr  ng-repeat="payment in pdcData">

                  <td scope="row">{{payment.period}}</td>
              <td>
                  <input id="date" name="date" datepicker-pop="dd MMMM yyyy" class="form-control"
                               type="text"
                               ng-model="payment.dueDate" is-open="opened" min="'2000-01-01'" max="restrictDate"
                               />  </td>
                <td>
                    <input id="chequeno" name="chequeno" class="form-control" type="text"
                           ng-model="payment.chequeno" ng-minlength=6 ng-maxlength=6 ng-pattern="/^[0-9]+$/"
                           />

                          <!-- <div ng-messages="addpaymentinvnetory.chequeno.$error && addpaymentinvnetory.chequeno.$dirty" class="errors">
                           <span ng-message="required">Required!</span>
                           <span ng-message="min">Too small!</span>
 -->
                    <!-- <span style = "color:red" ng-show = "addpaymentinvnetory.chequeno.$dirty && addpaymentinvnetory.chequeno.$invalid">
                        <small class="required" ng-show = "addpaymentinvnetory.chequeno.$error.pattern">{{'Please enter correct lastname' | translate}}</small>
                     </span> -->
                </td>
                <td>
                  <input id="nameofBank" name="nameOfBank" class="form-control" type="text"
                       ng-model="payment.nameOfBank" required/>
                </td>
                <td>
                  <input id="branchName" name="branchName" class="form-control" type="text"
                       ng-model="payment.branchName" />
                </td>
                <td>
                  <input id="ifscCode" name="ifscCode" class="form-control" type="text"
                       ng-model="payment.ifscCode" required/>
                </td>
                <td>
                  <input id="micrCode" name="micrCode" class="form-control" type="text"
                       ng-model="payment.micrCode" required/>
                </td>
                <td>
                    <input id="totalInstallmentAmountForPeriod" name="totalInstallmentAmountForPeriod" class="form-control"
                           type="text"
                           ng-model="payment.totalInstallmentAmountForPeriod" number-format/>
                </td>
                <td ng-show="formData.pdcTypeId == 2">
                    <div>
                        <a ng-click="addInstallment($index)"><i class="icon-plus icon-white"></i></a>
                    </div>
                </td>
                <td ng-show="formData.pdcTypeId == 2">
                    <div>
                        <a ng-click="deleteInstallment($index)"><i class="icon-remove icon-white"></i></a>
                    </div>
                </td>
              </tr>
            </tbody>


        </table>

    </fieldset>

    <div class="col-md-offset-4">
        <a id="cancel" href="#/viewloanaccount/{{loandetails.id}}">
            <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
        </a>

        <button id="save" type="submit" ng-click="visitValidation=true" class="btn btn-primary" value="submit"
                has-permission='CREATE_PAYMENTINVENTORY'>{{'label.button.save' | translate}}
        </button>
    </div>
</form>
</div>
