<div class="col-md-12" ng-controller="EditPaymentInventory">
<div>
    <ul class="breadcrumb">
            <li><a href="#/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a></li>
            <li class="active">{{'label.anchor.editPaymentInventory' | translate}}</li>
    </ul>
</div>



<form name="editPaymentinvnetory" novalidate="" class="form-horizontal well" rc-submit="submit()">
    <api-validate></api-validate>
    <fieldset>
        <table class="table table-striped .width100">
            <colgroup span="4"></colgroup>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{'Cheque Date' | translate}}</th>
                <th scope="col">{{'Cheque No' | translate}}</th>
                <th scope="col">{{'Name of Bank' | translate}}</th>
                <th scope="col">{{'Branch Name' | translate}}</th>
                <th scope="col">{{'Ifsc Code' | translate}}</th>
                <th scope="col">{{'MICR Code' | translate}}</th>
                <th scope="col">{{'Amount' | translate}}</th>
                <th scope="col">{{'Status' | translate}}</th>
            </tr>
            </thead>
            <tbody>
              <tr  ng-repeat="payment in pdcData">

                  <td scope="row">{{payment.period}}</td>
              <td>
                  <input id="date" name="date" datepicker-pop="dd MMMM yyyy" class="form-control" type="text"
                               ng-model="payment.chequeDate" is-open="opened" min="'2000-01-01'" max="restrictDate"
                            />  </td>
                <td>
                    <input id="chequeno" name="chequeno" class="form-control" type="text"
                           ng-model="payment.chequeno"
                           />
                </td>
                <td>
                  <input id="nameofBank" name="nameOfBank" class="form-control" type="text"
                       ng-model="payment.nameOfBank"/>
                </td>
                <td>
                  <input id="branchName" name="branchName" class="form-control" type="text"
                       ng-model="payment.branchName"/>
                </td>
                <td>
                  <input id="ifscCode" name="ifscCode" class="form-control" type="text"
                       ng-model="payment.ifscCode"/>
                </td>
                <td>
                  <input id="micrCode" name="micrCode" class="form-control" type="text"
                       ng-model="payment.micrCode"/></td>
                <td>
                    <input id="amount" name="amount" class="form-control" type="text"
                           ng-model="payment.amount" number-format/>
                </td>

                <td>
                    <select ng-model="payment.presentationStatus" ng-options="status as status.value for status in statusType track by status.id"
                    value="{{payment.presentationStatus.id}}">
        
      </select>
                                
                </td>
                </tr>
              </tr>
            </tbody>


        </table>

    </fieldset>

    <div class="col-md-offset-4">
        <a id="cancel" href="#/viewloanaccount/{{loanId}}">
            <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
        </a>

        <button id="save" type="submit" ng-click="visitValidation=true" class="btn btn-primary" value="submit"
                has-permission='UPDATE_PAYMENTINVENTORY'>{{'label.button.save' | translate}}
        </button>
    </div>
</form>
</div>
